<!-- WEB-INF/beans.xml -->
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jakartaee.org/xml/ns/jakartaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jakartaee.org/xml/ns/jakartaee http://xmlns.jakartaee.org/xml/ns/jakartaee/beans_3_0.xsd">
</beans>
